@import 'colors.scss';

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: 38%;
        padding: 1.5rem;
        background-color: #85858563;
        border-radius: 1.7rem;

        .title {
            display: flex;
            flex-direction: column;
            gap: .8rem;
            margin-bottom: 3rem;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: .5rem;

            mat-form-field,
            mat-checkbox {
                width: 60%;

                span {
                    color: $dark-font !important;
                }
            }
        }

        .action {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: .8rem;

            button {
                width: 40%;
                padding: 1.6rem 2rem;
                border-radius: 2rem;
            }

            .sub-action {
                cursor: pointer;
            }
        }

        .mat-divider {
            margin: 2rem 0;
            border-color: #7e7e7e72;
        }
    }
}