<div class="page auth">
  <mat-card class="card">
    <form [formGroup]="loginForm">
      <div class="title">
        <h2>Já tem uma conta?</h2>

        <span>Informe seus dados abaixo para acessá-la</span>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            autocomplete="off"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            autocomplete="new-password"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-checkbox formControlName="rememberMe">
          <span>Lembrar meus dados</span>
        </mat-checkbox>
      </div>

      <div class="row action">
        @if (loading()) {
        <mat-spinner [diameter]="50"></mat-spinner>
        } @else {
        <button
          mat-fab
          extended
          color="primary"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          Entrar
        </button>
        }

        <!-- <span class="sub-action" routerLink="/esqueci-minha-senha">
          Esqueci minha senha
        </span> -->
      </div>
    </form>

    <mat-divider></mat-divider>

    <div class="second-action">
      <div class="title" style="margin-bottom: 1.5rem">
        <h2>Novo por aqui?</h2>

        <span>Crie sua conta, é fácil!</span>
      </div>

      <div class="second-action-btn">
        <button mat-fab extended routerLink="/crie-sua-conta">
          Cadastre-se
        </button>
      </div>
    </div>
  </mat-card>
</div>
