@import '../../../shared/styles/colors.scss';

.header {
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: $dark-bg;
    padding: 1rem 5vw;
    box-shadow: 1px 1px 5px #fff;

    #title {
        color: $dark-font;
        font-size: 2.8rem;
    }

    #actions {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        #cart-btn {
            background-color: #009e2a;
            color: #fff;
            font-weight: bold;
            font-size: 1.3rem;
            padding: 1.7rem 1rem !important;

            .btn-content {
                display: flex;
                gap: .8rem;
            }
        }
    }
}