#footer {
    width: 100%;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .logo {
        color: #fff;
    }
}